# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backup written by scripts/update-car-images.mjs
img-backup.json

# Backup written by scripts/migrate-database.mjs
db-backup.json

# Backup written by scripts/fill-car-details.mjs
cars-backup.json
