@tailwind base;
@tailwind components;
@tailwind utilities;


.app{
  overflow-x: hidden;
  background-image: url('./assets/img/color.png');
  font-family:serif;
}

#bg {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    animation-name: stretch;
    animation-duration: 5s; 
    animation-timing-function: ease-out; 
    animation-iteration-count:initial;
}
  
  @keyframes stretch {
    0% {
      transform: scale(.4);
     
    }
    100% {
      transform: scale(1);
     
    }
  }
  


.slick-dots li button:before {
  color: blue !important;
}

.custom-scroll::-webkit-scrollbar {
  height: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 4px;
}
